body {
     background-color: #a5d389;
}

.header {
     margin-top: 5%;
     text-align: center;
     color: white;
     font-family: 'Montserrat', sans-serif;
     display: inline-block;
     font-weight: 1000;
     margin-left: 41%;
}

.classpath {
     color: white;
     font-family: 'Pacifico', cursive;
     font-weight: 100;
     display: inline-block;
     margin-right: -41%;
     margin-left: .3%;
}

.container {
     width: 80%;
     margin-left: 10%;
}

.container, #returnButton {
     padding-top: 1%;
     padding-bottom: 1%;
}

#classpathDescription {
     font-size: 20px;
     margin-left: 5%;
     margin-right: 5%;
}

.teamPictureAndDescription {
     text-align: center;
}

.teamPictureContainer {
     width: 30%;
     display: inline-block;
}

#teamPicture {
     width: 90%;
     height: auto;
     padding: 20px;
     border-radius: 20px;
}

.teamDescriptionContainer {
     width: 65%;
     display: inline-block;
}

#teamDescription, #classpathDescription {
     font-family: 'Montserrat', sans-serif;
     color: white;
}

.container, #returnButton, .teamDescriptionContainer, .teamPictureContainer {
     background-color: #699CD0;
     border-radius: 20px;
}

#returnButton {
     width: 10%;
     margin-top: 20%;
     margin-left: 45%;
     padding: 10px;
     color: white;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
}

#returnButton:hover {
     -webkit-transition-duration: 0.4s; Safari
     transition-duration: 0.4s;
     background-color: #183359;
}
