* {
  box-sizing: border-box;
}

.container {
  margin: 0;
  height: 100vh;
}

.sidebar {
     float: left;
     width: 30%;
     height: 100%;
     background-color: #699CD0;

}

.sidebar .entry select {
  color: white;
  font-family: Helvetica, bold;
  position: relative;
  margin-left: 25%;
  width: 50%;
  background: #a5d389;
  line-height: 1;
  border: 0;
  padding: 10;
  border-radius: 0;
  z-index: 10;
  font-size: 1em;
}

.sidebar .entry {
    padding: 25;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #699CD0; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 32%;
  margin-left: 33%;
  cursor: pointer;
}

.updateButton {
 border: 2px solid #ddaaca;
}

.updateButton:hover {
  background-color: white; /* Green */
  color: #699CD0;
}

a {
  font-family: 'Boogaloo', cursive;
  color: white;
  text-decoration: none;
}
canvas {
     /* width: 70%;
     height: 100%; */
     background-color: #a5d389;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  color:white;
  text-align: center;
  font-family: 'Boogaloo', cursive;
}
