* {
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 10px;
}

#transportationIcon {
  height: 100%;
}

.container {
  margin: 0;
  height: 100vh;
}

.FindYour{
  letter-spacing: 0 px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 10;
  font-family: 'Noto Serif', serif;
  margin-bottom: -45px;
  margin-top: 5%;
}

.classpath {
  letter-spacing: 0px;
  color: white;
  text-align: center;
  font-size: 65px;
  font-weight: 10;
  font-family: 'Pacifico', cursive;
}

.sidebar {
    float: left;
    width: 30%;
    height: 100%;
    background-color: #699CD0;
    overflow: scroll;
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
    -o-transition: width .5s ease;
    transition: width .5s ease;
}

.entry {
  padding: 20px 0px 20px 0px;
}

.buildingEntry {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.buildingEntry:hover {
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.67);
}

.sidebar .buildingEntry select {
  color: white;
  font-family: 'Noto Serif', serif;
  background: #a5d389;
  font-size: 1em;
}

.button {
  background-color: #699CD0;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  width: 37%;
  margin-left: 32%;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  border: 2px solid #ddaaca;
  padding: 10px;
}

.transportation {
  background-color: #699CD0;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  padding: 10px;
  border: none;
}

.transportation:hover {
  -webkit-transition-duration: 0.4s; Safari
  transition-duration: 0.4s;
  background-color: white;
  border-radius: 20px;
}

#addformbutton {
  margin-bottom: 15px;
}

.updateButton {
  margin-bottom: 20px;
}

#from {
  margin-top: 5px;
  margin-bottom: -15px;
  font-family: 'Noto Serif', serif;
}

.button:hover {
  -webkit-transition-duration: 0.4s; Safari
  transition-duration: 0.4s;
  background-color: white;
  color: #699CD0;
}

canvas {
  background-color: #a5d389;
  -webkit-transition: width .25s ease;
  -moz-transition: width .25s ease;
  -o-transition: width .25s ease;
  transition: width .25s ease;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.sidebarButtonContainer {
  z-index: 10;
  position: absolute;
  height: 100%;
  margin-left:30%;
  -webkit-transition: margin-left .25s ease;
  -moz-transition: margin-left .25s ease;
  -o-transition: margin-left .25s ease;
  transition: margin-left .25s ease;
}

.sidebarButton {
text-decoration-line: none;
  font-size: 30px;
  color: gray;
  z-index: 10;
  position: absolute;
  margin-top:10px;
  margin-left:20px;
}

.sidebarButton:hover {
  color: #699CD0;
}

.pageBottom {
  color: white;
  text-align: center;
}

button {
  outline: none;
}

#transportationMethodsContainer {
  text-align: center;
  width: 100%;
  padding: 10px;
  height: 70px;
  margin-bottom: 20px;
}

.selectedTransportationMethod {
  background: white;
  border-radius: 20px;
}
