* {
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 10px;
}

#helpButton {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  z-index: 2;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: 5px solid white;
  border-radius: 10px;

}

.bodyContainer {
  margin: 0;
  height: 100vh;
}

.bodyContainer:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
    float: left;
    width: 30%;
    height: 100%;
    background-color: #699CD0;
    overflow: scroll;
}

.findYour{
  letter-spacing: 0 px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 10;
  font-family: 'Noto Serif', serif;
  margin-bottom: -45px;
  margin-top: 5%;
}

.classpath {
  letter-spacing: 0px;
  color: white;
  text-align: center;
  font-size: 65px;
  font-weight: 10;
  font-family: 'Pacifico', cursive;
}

#transportationMethodsContainer {
  text-align: center;
  width: 100%;
  padding: 10px;
  height: 70px;
  margin-bottom: 20px;
}


#transportationIcon {
  height: 100%;
}

.transportation {
  background-color: #699CD0;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  padding: 10px;
  border: none;
}

.selectedTransportationMethod {
  background: white;
  border-radius: 20px;
}

.transportation:hover {
  -webkit-transition-duration: 0.4s; Safari
  transition-duration: 0.4s;
  background-color: white;
  border-radius: 20px;
}

.sidebar .buildingEntry select {
  color: white;
  font-family: 'Noto Serif', serif;
  background: #a5d389;
  font-size: 1em;
}

.entry {
  padding: 20px 0px 20px 0px;
}

.buildingEntry {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.buildingEntry:hover {
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.67);
}

.button {
  background-color: #699CD0;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  width: 37%;
  margin-left: 32%;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  border: 2px solid #ddaaca;
  padding: 10px;
}

button {
  outline: none;
}

.button:hover {
  -webkit-transition-duration: 0.4s; Safari
  transition-duration: 0.4s;
  background-color: white;
  color: #699CD0;
}

#addformbutton {
  margin-bottom: 15px;
}

.updateButton {
  margin-bottom: 20px;
}

.sidebarButtonContainer {
  z-index: 10;
  position: absolute;
  height: 100%;
  margin-left:30%;
}

.sidebarButton {
text-decoration-line: none;
  font-size: 30px;
  color: gray;
  z-index: 10;
  position: absolute;
  margin-top:10px;
  margin-left:20px;
}

.sidebarButton:hover {
  color: #699CD0;
}


canvas {
  background-color: #a5d389;
}

.dropbtn {
  background-color: #ddaaca;
  color: white;
  font-family: 'Noto Serif', serif;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.dropdown {
  text-align: center;
}

.dropdown-content {
  display: none;
  text-align: center;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #ddaaca;
  z-index: 1;
}


.dropdown-content a {
  color: white;
  margin-top: 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}



.dropdown:hover .dropbtn {
  -webkit-transition-duration: 0.4s; Safari
  transition-duration: 0.4s;
  background-color: #bf8eac;
}